@import "./Themes/light.scss";
@import "./Themes/dark.scss";

:root {
	--change-theme-duration: 200ms;
	--left-panel-left-duration: 500ms;

	--background-color: var(--color-primary_3);
	--text-color: var(--color-primary_5);
	--left-panel-background-color: var(--color-primary_2);
	--left-panel-text-color: var(--color-primary_5);
	--background-widget: var(--color-primary_1);
}