// Основной Цвет:
// #1E2C39	#1C242B	#0A1825	#65829C	#73899C
// Вторичный Цвет A:
// #584D2B	#423C29	#392F0E	#AC9C6A	#ACA07B
// Вторичный Цвет B:
// #58392B	#423129	#391B0E	#AC7E6A	#AC8A7B

:root[data-theme="dark"] {
	--color-primary_1:#1E2C39;
	--color-primary_2:#1C242B;
	--color-primary_3:#0A1825;
	--color-primary_4:#65829C;
	--color-primary_5:#ACA07B;
}