// Основной Цвет:
// #58452B	#423829	#39270E	#AC906A	#AC987B
// Вторичный Цвет A:
// #24233D	#201F2E	#0C0B28	#6C6A9E	#7A789E
// Вторичный Цвет B:
// #1D3B30	#1C2D26	#09271C	#619D87	#719D8D

:root[data-theme="light"] {
	--color-primary_1:#58452B;
	--color-primary_2:#423829;
	--color-primary_3:#AC906A;
	--color-primary_4:#65829C;
	--color-primary_5:#090724;
}