.container {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
}

.input {
	composes: formElement from "../common.module.css";
	outline:none;
	width: 50%;
	box-shadow: inset 1px 1px 2px black,inset -1px -1px 2px;
}

.input:focus {
	background: transparent !important;
	background-color: transparent !important;
}

.input:-webkit-autofill{
	background: transparent !important;
	background-color: transparent !important;
	transition: background-color 100000s ease-in-out 0s;
	/* костыль для хрома https://www.kobzarev.com/external/aHR0cHM6Ly9jb2RlLmdvb2dsZS5jb20vcC9jaHJvbWl1bS9pc3N1ZXMvZGV0YWlsP2lkPTEzMzQ= */
}