.container{
	border-radius: 15px;
	background: #0aa;
	padding: 0 0 10px;

	display: flex;
	flex-direction: column;

	& > * {
		margin-bottom: 10px;
	}
}

.panel{
	composes: container;
	position: absolute;
	top: 1%;
	bottom: 1%;

	width: 300px;
	padding: 0 10px;
	
	display: flex;
	flex-direction: column;

	
	&_open {
		left: 2px;
		transition: left 1s;
	}

	&_closed {
		left: -304px;
		transition: left 1s;
	}
	
	&__title {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10px 0 0;
	}

	&__switch{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: aliceblue;

		position: relative;
		transform: translateX(30px) rotate(0deg);
		border: solid 1px #000;

		transition: transform 1s;

		&::after{
			content: '';
			width: 0px;
			height: 0px;
			border: solid 7px transparent;
			border-left: solid 7px black;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-17%, -50%);
		}
		&_open {
			transform: rotate(180deg);
			border: 0;
		}
	}
}