.inputDate {
	color: inherit;
	background-color: inherit;
	position: relative;
	padding: 5px;
	border-radius: 5px;
	outline: none;
}

.inputCalendar {
	color: var(--text-color) !important;
	background-color: var(--background-color) !important;
	border-color: var(--text-color) !important;
}